<nav class="blue-round">
  <ul class="nav-options">
    <% unless %w(index).include? action_name %>
      <li><%= link_to 'Index', snippets_path %>
    <% end %>
    <% if %w(edit).include? action_name %>
      <li><%= link_to 'View', @snippet %>
    <% end %>
    <% if admin_user? && %w(show).include?(action_name) %>
      <li><%= link_to 'Edit', "/snippets/#{@snippet.id}/edit" %>
    <% end %>
    <% if %w(show edit).include? action_name %>
      <li><%= link_to 'Play', "/snippets/#{@snippet.id}/play" %>
    <% end %>
    <% if admin_user? && !%w(new).include?(action_name) %>
      <li><%= link_to 'Add a Snippet', '/snippets/new' %>
    <% end %>
  </ul>
</nav>
