<%= link_to 'Home', root_path %> |

<%= render 'nav' %>

<table class="snippets">
  <tr>
    <th>Category</th>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @snippets.each do |snippet| %>
  <tr>
    <td><strong><%= snippet.category %></strong></td>
    <td><%= truncate(snippet.full_text, :length => 50) %></td>
    <td><%= link_to 'Show', snippet %></td>
    <td><%= link_to 'Edit', edit_snippet_path(snippet) %></td>
    <td><%= link_to 'Destroy', snippet, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
