<%= render 'nav' %>

<p id="notice"><%= notice %></p>

<p>
  A snippet in the <strong><%= @snippet.category %></strong> category.
  <pre><%= @snippet.full_text %></pre>
</p>

<% if @snippet.scores.length > 0 %>
<h1>User Scores:</h1>
<div class="blue-round user-scores">
  <table class="thin-border">
    <tr>
      <th>Username</th>
      <th>WPM</th>
      <th>Accuracy</th>
    </tr>

  <% @snippet.scores.each do |score| %>
    <tr>
      <td><%= link_to score.user.name, user_path(score.user_id) %></td>
      <td><%= score.wpm %>%</td>
      <td><%= score.accuracy %></td>
    </tr>
  <% end %>
  </table>
</div>
<% end %>
