<div class="container">
  <h1>{{model.name}}</h1>
  <hr>

  {{#if model.score_categories}}
    {{#each model.score_categories as |score_category|}}
      <div class="blue-round user-scores">
        <h2>Category: {{score_category.name}}</h2>

        <table class="thin-border scores">
          <thead>
            <tr>
              <th>Snippet ID</th>
              <th>WPM</th>
              <th>Accuracy</th>
            </tr>
          </thead>

          <tbody>
            {{#each score_category.scores as |score|}}
              <tr>
                <td>{{#link-to 'snippet.index' score.snippet_id}}{{score.snippet_id}}{{/link-to}}</td>
                {{#if score.wpm}}
                  <td>{{score.wpm}}</td>
                {{else}}
                  <td>-</td>
                {{/if}}
                <td>{{score.accuracy}}%</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    {{/each}}
  {{/if}}
</div>
