<div class="container">
  <nav class="blue-round">
    <ul class="nav-options">
      <li>{{#link-to 'snippets.index'}}Index{{/link-to}}</li>
      {{#if session.user.admin}}
        <li>{{#link-to 'snippet.edit' model.snippet_id}}Edit{{/link-to}}</li>
      {{/if}}
      <li>{{#link-to 'snippet.play' model.snippet_id}}Play{{/link-to}}</li>
      {{#if session.user.admin}}
        <li>{{#link-to 'snippets.new'}}Add a Snippet{{/link-to}}</li>
      {{/if}}
    </ul>
  </nav>

  <div class="snippet-view">
    <div class="snippet-view-header">
      <span class="snippet-number">#{{model.snippet_id}}</span>
      -
      <span class="snippet-category">{{model.category_name}}</span>
    </div>
    <pre>{{model.full_string}}</pre>
  </div>

  {{#if session.user}}
    {{#if model.scores.length}}
      <h1>User Scores:</h1>
      <div class="blue-round user-scores">
        <table class="thin-border">
          <thead>
          <tr>
            <th>Username</th>
            <th>WPM</th>
            <th>Accuracy</th>
          </tr>
          </thead>

          <tbody>
          {{#each model.scores as |score|}}
            <tr>
              <td>{{#link-to 'user.index' score.user_id}}{{score.user_name}}{{/link-to}}</td>
              <td>{{score.wpm}}</td>
              <td>{{score.accuracy}}</td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    {{/if}}
  {{/if}}
</div>
