<div class="container">
  <header>
    <div>
      <h1>{{#link-to 'index'}}typer tortoise{{/link-to}}</h1>
      <small>are you faster than a tortoise??</small>
    </div>
    <nav>
      <ul>
        {{#if session.user}}
          <li>{{#link-to 'users.index'}}Users{{/link-to}}</li>
        {{/if}}
        <li>{{#link-to 'snippets.index'}}Snippets{{/link-to}}</li>
        <li><span class='prefs-link' {{action 'showPreferences'}}>Preferences </span></li>
      </ul>
    </nav>
    <div>
      {{#if session.user}}
        Logged in as <strong>{{#link-to 'user.index' session.user.id}}{{session.user.name}}{{/link-to}}</strong>.
      {{else}}
        Log in to save your scores.
      {{/if}}
      <ul>
        {{#if session.user}}
          <li><a href="/logout">Log out</a></li>
        {{else}}
          <li><a href={{twitterLink}}>Sign in with Twitter</a></li>
        {{/if}}
      </ul>
    </div>
  </header>
</div>

{{outlet}}

{{outlet 'modal'}}
