{{#modal-view contentClass="prefs-popup"}}
  <h2>
    {{if session.user session.user.name 'Guest'}}'s preferences
  </h2>
  <ul>
    {{#each categoryPreferences.model as |category|}}
      <li>
        <label>{{input type='checkbox' checked=category.enabled}}{{category.name}}</label>
      </li>
    {{/each}}
  </ul>
  <div class="text-center">
    <button class="btn btn-primary" disabled={{categoryPreferences.noCategoriesSelected}} {{action 'savePreferences'}}>Save Preferences</button>
  </div>
{{/modal-view}}
