<div class="container">
  {{view "typing_area"}}
  <div>
    <div class="full-score-display">
      {{view App.views.WPMDisplay}}
      {{view App.views.AccuracyDisplay}}
    </div>
    <div>
      {{view App.views.ScoreItemView}}
      {{view App.views.ScoreListView}}
    </div>
  </div>
</div>