{{#view "prefs_popup_background"}}
  {{#view "prefs_popup_content"}}
    <h2>
      {{#if view.user}}
        {{view.user.name}}'s preferences
      {{else}}
        Guest's preferences
      {{/if}}
    </h2>
    <ul>
      {{#each score in App.categoryPrefController}}
        <li>
          <label>{{view Em.Checkbox checkedBinding="score.enabled"}}{{score.name}}</label>
        </li>
      {{/each}}
    </ul>
    <div class="text-center">
      <button {{action 'savePreferences'}}>Save Preferences</button>
    </div>
  {{/view}}
{{/view}}
