<div class="container">
  {{#if session.user.admin}}
    <nav class="blue-round">
      <ul class="nav-options">
        <li>{{#link-to 'snippets.new'}}Add a Snippet{{/link-to}}</li>
      </ul>
    </nav>
  {{/if}}

  <h1>Snippets</h1>

  <div class="row">
    <div class="col-md-12">
      <select {{action 'categoryChanged' on='change'}} class='form-control'>
        <option>Select a category...</option>
        {{#each snippetCategories key="@index" as |category|}}
          <option value="{{category.id}}" selected={{is-equal category.id category_id}}>
            {{category.name}}
          </option>
        {{/each}}
      </select>

      {{#if filteredSnippets.length}}
        <table class="table table-bordered table-striped snippets-table">
          <thead>
            <tr>
              <th class="row-category">Category</th>
              <th class="row-text">Text</th>
              <th class="row-characters">Characters</th>
              <th class="row-actions" colspan="{{actionsCount}}"></th>
            </tr>
          </thead>

          <tbody>
            {{#each filteredSnippets as |snippet|}}
              <tr>
                <td><strong>{{snippet.category_name}}</strong></td>
                <td class="snippet-preview">{{snippet.full_text}}</td>
                <td>{{snippet.full_text.length}}</td>
                <td>{{#link-to 'snippet.index' snippet.id}}Show{{/link-to}}</td>
                <td>{{#link-to 'snippet.play' snippet.id}}Play{{/link-to}}</td>
                {{#if session.user.admin}}
                  <td>{{#link-to 'snippet.edit' snippet.id}}Edit{{/link-to}}</td>
                  <td><button class='btn btn-danger' {{action 'destroy' snippet}}>Destroy</button></td>
                {{/if}}
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{/if}}
    </div>
  </div>
</div>
