<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>typer tortoise</title>
  <meta name="description" content="html5 typing game (like typeracer)">
  <meta name="author" content="Travis Grathwell">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="<%= asset_url(favicon_file) %>">

  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= javascript_include_tag "application" %>
  <script>
    <% if signed_in? %>
      window.currentUser = {
        id: '<%= current_user.id %>',
        name: '<%= current_user.name %>',
        admin: <%= current_user.is_admin? %>
      };
    <% end %>
  </script>
</body>
</html>
