<!DOCTYPE html>
<html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]--> <!--[if IE 7 ]>    <html lang="en" class="ie7"> <![endif]--> <!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]--> <!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>typer tortoise</title>
  <meta name="description" content="html5 typing game (like typeracer)">
  <meta name="author" content="Travis Grathwell">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <% if Rails.env.development? %>
    <link rel="shortcut icon" href="/assets/turtle-icon-small-inverted.ico">
  <% else %>
    <link rel="shortcut icon" href="/assets/turtle-icon-small.ico">
  <% end %>

  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>

<script type="text/x-handlebars" data-template-name="prefs-popup">
  {{#view App.prefsPopupContent}}
    <h2><% if signed_in? %><%= current_user.name %><% end %>'s preferences:</h2>
    <ul>
    {{#each App.categoryPrefController}}
      <li>
        <input id="{{unbound this.name}}_pref_cb" {{action "select" on="change"}} {{bindAttr checked="this.enabled"}} type="checkbox" value="{{unbound this.id}}"
        /><label for="{{unbound this.name}}_pref_cb">{{this.name}}</label>
      </li>
    {{/each}}
    </ul>
    <div class="center-text">
      {{#view App.prefsSaveButton}}Save Preferences{{/view}}
    </div>
  {{/view}}
</script>

<div class="container">
  <header>
    <div class="user-options">
      <% if signed_in? %>
        Logged in as <strong><%= link_to current_user.name, current_user %></strong>.
        <ul>
          <li
             ><script type="text/x-handlebars">
              {{#view App.prefsLink}}Preferences{{/view}}
            </script>
          <li><%= link_to "Log out", "/logout" %>
        </ul>
      <% else %>
        You aren't logged in.
        <ul>
          <li><%= link_to "Sign in with Twitter", "/auth/twitter" %>
        </ul>
      <% end %>
    </div>
    <div>
      <h1><%= link_to 'typer tortoise', root_path %></h1>
      <small>are you faster than a tortoise??</small>
    </div>
  </header>

<%= yield %>

</div>

  <%= javascript_include_tag "application" %>
</body>
</html>
