<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]--> <!--[if IE 7 ]>    <html lang="en" class="ie7"> <![endif]--> <!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]--> <!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>typer tortoise</title>
  <meta name="description" content="html5 typing game (like typeracer)">
  <meta name="author" content="Travis Grathwell">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <% if Rails.env.development? %>
    <link rel="shortcut icon" href="<%= asset_url('turtle-icon-small-inverted.ico') %>">
  <% else %>
    <link rel="shortcut icon" href="<%= asset_url('turtle-icon-small.ico') %>">
  <% end %>

  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>

<div class="container">
  <header>
    <div>
      <h1><%= link_to 'typer tortoise', root_path %></h1>
      <small>are you faster than a tortoise??</small>
    </div>
    <nav>
      <ul>
        <li><%= link_to "User Index", users_path %></li>
        <li><%= link_to "Snippet Index", snippets_path %></li>
        <li id="prefs-link-container"><a href="#">Preferences</a></li>
      </ul>
    </nav>
    <div>
      <% if signed_in? %>
        Logged in as <strong><%= link_to current_user.name, current_user %></strong>.
      <% else %>
        Log in to save your scores.
      <% end %>
      <ul>
        <% if signed_in? %>
          <li><%= link_to "Log out", "/logout" %>
        <% else %>
          <li><%= link_to "Sign in with Twitter", "/auth/twitter" %>
        <% end %>
      </ul>
    </div>
  </header>

<%= yield %>

</div>

  <%= javascript_include_tag "application" %>
  <script>
    <% if signed_in? %>
      App.user = {
        id: '<%= current_user.id %>',
        name: '<%= current_user.name %>'
      };
    <% end %>
    $(document).ready(function () { App.start(); });
  </script>
</body>
</html>
