<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>typer tortoise</title>
  <meta name="description" content="html5 typing game (like typeracer)">
  <meta name="author" content="Travis Grathwell">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="<%= asset_url(favicon_file) %>">

  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <header>
    <div>
      <h1><%= link_to 'typer tortoise', root_path %></h1>
      <small>are you faster than a tortoise??</small>
    </div>
    <nav>
      <ul>
        <li><%= link_to "User Index", users_path %></li>
        <li><%= link_to "Snippet Index", snippets_path %></li>
        <li id="prefs-link-container"><a href="#">Preferences</a></li>
      </ul>
    </nav>
    <div>
      <% if signed_in? %>
        Logged in as <strong><%= link_to current_user.name, current_user %></strong>.
      <% else %>
        Log in to save your scores.
      <% end %>
      <ul>
        <% if signed_in? %>
          <li><%= link_to "Log out", "/logout" %>
        <% else %>
          <li><%= link_to "Sign in with Twitter", "/auth/twitter" %>
        <% end %>
      </ul>
    </div>
  </header>

<%= yield %>

</div>

  <%= javascript_include_tag "application" %>
  <script>
    <% if signed_in? %>
      App.user = {
        id: '<%= current_user.id %>',
        name: '<%= current_user.name %>'
      };
    <% end %>
    $(document).ready(function () {
      App.start();
      App.advanceReadiness();
    });
  </script>
</body>
</html>
